.background-Solitude {
    background-color: #e9ecef;
}
.background-lightPink {
    background: $lightPink;
}

.background-alice {
    background-color: #f8f9fa;
}

.background-white {
    background-color: white;
}

.background-white-smoke {
    background-color: whitesmoke;
}

.background-ultimate-gray {
    background-color: $ultimate-gray;
}

.background-light-gray {
    background-color: lightgray;
}

.background-theme-1 {
    background-color: $theme-color-1;
}

.background-theme-2 {
    background-color: $theme-color-1;
}
.background-black {
    background-color: black;
}